Imp/ClientSOA/xml-resources/web-service-references/HelloService/wsdl/fathomless-scrubland-8196.herokuapp.com/HelloService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="HelloServiceImplService" targetNamespace="http://service.heroku.chamerling.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.heroku.chamerling.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.heroku.chamerling.org/" version="1.0" xmlns:tns="http://service.heroku.chamerling.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addPost" type="tns:addPost"/>
<xs:element name="addPostResponse" type="tns:addPostResponse"/>
<xs:element name="addUser" type="tns:addUser"/>
<xs:element name="addUserResponse" type="tns:addUserResponse"/>
<xs:element name="delUser" type="tns:delUser"/>
<xs:element name="delUserResponse" type="tns:delUserResponse"/>
<xs:element name="readUser" type="tns:readUser"/>
<xs:element name="readUserResponse" type="tns:readUserResponse"/>
<xs:element name="updateUser" type="tns:updateUser"/>
<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
<xs:complexType name="delUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="delUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="readUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="readUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType abstract="true" name="abstractCollection">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType abstract="true" name="abstractList">
    <xs:complexContent>
      <xs:extension base="tns:abstractCollection">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="arrayList">
    <xs:complexContent>
      <xs:extension base="tns:abstractList">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="addPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPostResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUserResponse">
    <wsdl:part element="tns:readUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delUserResponse">
    <wsdl:part element="tns:delUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPostResponse">
    <wsdl:part element="tns:addPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delUser">
    <wsdl:part element="tns:delUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part element="tns:updateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPost">
    <wsdl:part element="tns:addPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUser">
    <wsdl:part element="tns:readUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloService">
    <wsdl:operation name="delUser">
      <wsdl:input message="tns:delUser" name="delUser">
    </wsdl:input>
      <wsdl:output message="tns:delUserResponse" name="delUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readUser">
      <wsdl:input message="tns:readUser" name="readUser">
    </wsdl:input>
      <wsdl:output message="tns:readUserResponse" name="readUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input message="tns:addPost" name="addPost">
    </wsdl:input>
      <wsdl:output message="tns:addPostResponse" name="addPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUser" name="updateUser">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServiceImplServiceSoapBinding" type="tns:HelloService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="delUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="readUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloServiceImplService">
    <wsdl:port binding="tns:HelloServiceImplServiceSoapBinding" name="HelloServiceImplPort">
      <soap:address location="http://fathomless-scrubland-8196.herokuapp.com/HelloService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>